header {
    background-color: blue;
    text-align: center;
    padding: 10px;
}

.start {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: blue;

}

.input {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 10px;
}

.gameboard {
    display: flex;
    justify-content: center;
}

.reset {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#displayWord {
    text-align: center;
}
